<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Company List</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-primary form-control">
            <i class="fas fa-plus">&nbsp;</i>
            New Company
        </a>
    </div>
</div>
<div class="container rounded border m-2 p-2">
    <table class="table table-bordered table-striped table-hover" id="tbldata">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Phone Number</th>
                <th>Is Authorised ?</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script src="~/js/COMPANY.js" ></script>
}