<div class="row">
    <div class="col">
        <input type="submit" class="btn btn-success form-control" value="Update" />
    </div>
    <div class="col">
        <a class="btn btn-info form-control" asp-action="Index">Back To List</a>
    </div>
</div>