<div class="row">
    <div class="col-9">
        <h2 class="text-primary">Pending Orders</h2>
    </div>
</div>
<div class="container rounded border m-2 p-2 ">
    <table id="tbldata" class="table table-active table-striped table-bordered">
        <thead>
            <tr>
                <th>Order Date</th>
                <th>Name</th>
                <th>Street Address</th>
                <th>State</th>
                <th>City</th>
                <th>Order Total</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
    {
    <script src="~/js/PendingOrders.js"></script>
}